.container {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}
.list-container {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.btn-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px;
}
